.App {
  text-align: center;
  color: rgb(20, 20, 20);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Name{
  font-size: 48px;
  color: white;
}

.SkillDiv{
  margin:0;
  padding: 0;
}

.dateOfBirth {
  margin-bottom: 0;
  color: white;
}

.Intro{
  background: linear-gradient(90deg, rgba(0,212,255,1) 18%, rgba(34,9,121,0.4163866230085784) 43%, rgba(252,32,252,0.4163866230085784) 61%, rgba(2,0,36,1) 100%);
  padding-bottom: 16px;
}

.Profession{
  color: white;
}

marquee {
  font-weight: bold;
  color: rgb(255, 255, 255);
}